@model MoviesCollection.Models.Film

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить этот фильм?</h3>
<div>
    <div class="row list_films">
        <div class="col-md-2 ">

            @Html.Raw("<img style='width:150px; height:200px;' src=\"data:image/jpeg;base64,"
                                                + Convert.ToBase64String(Model.Poster) + "\" />")
        </div>
        <div class="col-md-6">

            <table>
                @foreach (var i in ViewBag.Genres)
                {
                    if (@i.Id == @Model.idGenre)
                    {
                        <tr><td><p>Название:</p></td><td><p>@Model.Name</p></td></tr>
                        <tr><td><p>Год:</p></td><td><p>@Model.Year</p></td></tr>
                        <tr><td><p>Страна:</p></td><td><p>@Model.Country</p></td></tr>
                        <tr><td><p>Жанр:</p></td><td><p>@i.Name</p></td></tr>
                        <tr><td><p>Режиссер:</p></td><td><p>@Model.Director</p></td></tr>
                        <tr><td><p>В главных ролях:</p></td><td><p>@Model.Starring</p></td></tr>
                    }
                }

            </table>
            
        </div>
        <div class="col-md-3  video">
            <iframe width="300" height="200" src="@Model.Trailer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> 
           
        </div>
    }
</div>
